<?xml version="1.0"?>

<robot name="scout_vrtk"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find scout_description)/urdf/scout_v2/scout_v2.xacro"/>

    <link name="vrtk_link">
        <visual>
            <origin xyz="0.0 0.0 0.0"/>
            <geometry>
                <cylinder length="0.03" radius="0.02"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0"/>
            </material>
        </visual>
    </link>

    <joint name="vrtk_base_joint" type="fixed">
        <parent link="vrtk_link"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>
</robot>